/* stylelint-disable property-disallowed-list */
/* stylelint-disable selector-max-type */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;

  border-color: currentcolor;
  border-style: solid;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;

  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--app-color-background);
  overscroll-behavior-y: contain;
  text-rendering: optimizespeed;

  // Улучшенный рендеринг шрифтов на маках
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

[disabled] {
  pointer-events: none;
  cursor: default;
}

button,
[role="button"] {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ol,
ul,
menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

fieldset {
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

::-webkit-file-upload-button {
  appearance: auto;

  font: inherit;
}

[type="search"] {
  appearance: textfield;

  outline-offset: -2px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  padding: 0;
  margin: 0;
  border: none;

  color: inherit;
  font: inherit;

  background-color: transparent;
  background-image: none;
  appearance: auto;
}

a {
  color: inherit;
  text-decoration: unset;
}

input {
  padding: 0;
  margin: 0;

  outline: none;
}
