/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:root {
  // Base
  --app-color-white: #fff;
  --app-color-black: #121212;
  --app-color-background: #eceae6;
  --app-color-background-dark: #d6cec3;

  // Primary
  --app-color-primary-norm: #4f6b97;
  --app-color-primary-dark: #293850;
  --app-color-primary-light: #829fce;
  --app-color-primary-pale: #424750;

  // Secondary
  --app-color-secondary-norm: #000c26;
  --app-color-secondary-dark: #00081a;
  --app-color-secondary-light: #011b55;
  --app-color-secondary-text: #000613;

  // Brown
  --app-color-brown-black-deep: #0a0909;
  --app-color-brown-black: #141312;
  --app-color-brown-dark: #201614;
  --app-color-brown-medium: #352320;
  --app-color-brown-red: #572f28;
  --app-color-brown-norm: #402824;
  --app-color-brown-light: #696968;
  --app-color-brown-stroke: #2e1e1b;
  --app-color-brown-pale: #c7c2c1;
  --app-color-brown-ultrapale: #ece9e8;

  // Red
  --app-color-red-norm: #b53b3b;
  --app-color-red-dark: #8b2a2a;
  --app-color-red-light: #d65c5c;
  --app-color-red-stroke: #4a2a2a;
  --app-color-red-pale: #f3d0d0;

  // Green
  --app-color-green-dark: #2a6b2a;
  --app-color-green-norm: #3d8b3d;
  --app-color-green-light: #6ba36b;
  --app-color-green-stroke: #1e3a1e;
  --app-color-green-pale: #c4f0c4;

  // Yellow
  --app-color-yellow-dark: #997322;
  --app-color-yellow-norm: #d4a74f;
  --app-color-yellow-light: #e6c180;
  --app-color-yellow-pale: #3a321a;
}
